mkdir /etc/systemd/system/docker.service.d
echo -e "[Service]\nEnvironment=\"HTTP_PROXY=${http_proxy}\" \"NO_PROXY=${no_proxy}\"" > /etc/systemd/system/docker.service.d/http-proxy.conf
echo -e "[Service]\nEnvironment=\"HTTPS_PROXY=${https_proxy}\" \"NO_PROXY=${no_proxy}\"" > /etc/systemd/system/docker.service.d/https-proxy.conf
systemctl daemon-reload
systemctl start docker
